.container {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #ffe2c8;
  padding: 2%;
  min-height: 100vh;
  height: 100%;
}

.cards-grid {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 42%;
}

.cards-container {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  width: 950px;
}

.no-results {
  text-align: left;
  color: #777;
  font-size: 0.9rem;
  padding: px;
  font-family: Helvetica;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  backdrop-filter: blur(2px);
}
