.container {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #ffe2c8;
  padding: 2%;
  min-height: 100vh;
  height: 100%;
<<<<<<< HEAD
}

.form-container {
  height: 100%;
=======
>>>>>>> 8182a8208be56471caeace3b00317c1a644830c2
}

.cards-grid {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 42%;
}

.cards-container {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  width: 950px;
<<<<<<< HEAD
  .search-box {
    width: 50%;
  }
=======
}

.no-results {
  text-align: left;
  color: #777;
  font-size: 0.9rem;
  padding: px;
  font-family: Helvetica;
>>>>>>> 8182a8208be56471caeace3b00317c1a644830c2
}

.no-results {
  text-align: left;
  color: #777;
  font-size: 0.9rem;
  padding: px;
  font-family: Helvetica;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cards-container {
    width: 100%;
    search-box {
      width: 100%;
    }
  }
  .cards-grid {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}
